@charset "utf-8";
/* Notes for overall page
- The music video uses a comic book style animation. Starts very colourful, until about the 3rd verse and then it becomes tan/white/black with red.
- Music moves from light and carefree to aggressive and angry. Outro is light after a very aggressive final verse.
- Video implies one of the two main characters dies because of an order from the other main character.
- Lyrics follow the same as the music.
- Put different emphasis on positive and negative lyrics.
- Have the page gradient from light and colourful to dark/bland + red.
- Adjust line length to match the actual HTML line length.
- Adjust text-align to have lyrics be the center of the page
- Include images from the music video.
- Include the music video. https://www.youtube.com/watch?v=HLUX0y4EptA
 */
html{
    background-image: linear-gradient(rgba(154, 205, 50, 0.83), rgba(87, 23, 23, 0.7));
    text-align: center;
}
.lyrics{
    text-align: center; /*aligning the entire lyrics box to the center of the page*/
    video
}
/*Font for everything but the lyrics*/
.sectionHeadings, body h1, h2, h3 {
    font-family: "Shadows Into Light", serif;
    font-weight: 400;
    font-style: normal;
}
/*Happy class intro and outro font*/
.happy {
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}
/*Fun id for the first chorus. Still fun and light. */
#fun{
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}
/*Font for the third verse. Becomes very corporate and capitalist.*/
#corporate {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
/*Font for the last chorus. Very aggressive.*/
#climax {
    font-family: "New Amsterdam", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;/*Added letter spacing to make the type easier to read and still have weight.*/
}
